<div class="jumbotron">
    <h1>Smart Energy Server</h1>
    <p class="lead">This is the front face of the server that collects power monitor data from the desktop relay. This is done through an API hosted on this server.</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Testing</h2>
        <p>Easily do tests involving the Smart Energy API with the Swagger interface.</p>
        <p><a class="btn btn-default" href="/swagger">Learn more &raquo;</a></p>
    </div>
</div>
