<div class="jumbotron">
    <h1>Smart Energy Server</h1>
    <p class="lead">This is the front face of the server that collects power monitor data from the desktop relay. This is done through an API hosted on this server.</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The Technology</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. The Smart-Energy server
        uses this framework to serve and store data from the monitor itself through a RESTful API.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Upgrades</h2>
        <p>The server API will be websockets enabled in the future, for a live data stream to client and relay applications.</p>
        <p><a class="btn btn-default" href="https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>API Testing</h2>
        <p>Easily do tests involving the Smart Energy API with the Swagger interface.</p>
        <p><a class="btn btn-default" href="/swagger">Learn more &raquo;</a></p>
    </div>
</div>
